<label for="name">Name </label>
<input id="name">

<label for="challenge">CR </label>
<select id="challenge">
    <option *ngFor="let cr of monsterBases | keyvalue: unsorted" [value]="cr.key">{{ cr.key }}</option>
</select>

<label for="speed">Speed</label>
<input id="speed">

<!--TODO display ability score options using a table with headings instead of the labels-->
<h2>Ability Scores</h2>
<fieldset>
    <legend>Str</legend>
    <span *ngFor="let abilityStrength of monster.STRENGTH_LEVELS_ORDERED">
        <label for="str-{{ abilityStrength }}">{{ abilityStrength | titlecase }}</label>
        <input id="str-{{ abilityStrength }}"
        type="radio"
        name="str"
        value="{{ abilityStrength }}"
        [(ngModel)]="monster.strLevel">
    </span>
</fieldset>
<fieldset>
    <legend>Dex</legend>
    <span *ngFor="let abilityStrength of monster.STRENGTH_LEVELS_ORDERED">
        <label for="dex-{{ abilityStrength }}">{{ abilityStrength | titlecase }}</label>
        <input id="dex-{{ abilityStrength }}"
        type="radio"
        name="dex"
        value="{{ abilityStrength }}"
        [(ngModel)]="monster.dexLevel">
    </span>
</fieldset>
<fieldset>
    <legend>Con</legend>
    <span *ngFor="let abilityStrength of monster.STRENGTH_LEVELS_ORDERED">
        <label for="con-{{ abilityStrength }}">{{ abilityStrength | titlecase }}</label>
        <input id="con-{{ abilityStrength }}"
        type="radio"
        name="dex"
        value="{{ abilityStrength }}"
        [(ngModel)]="monster.conLevel">
    </span>
</fieldset>
<fieldset>
    <legend>Int</legend>
    <span *ngFor="let abilityStrength of monster.STRENGTH_LEVELS_ORDERED">
        <label for="int-{{ abilityStrength }}">{{ abilityStrength | titlecase }}</label>
        <input id="int-{{ abilityStrength }}"
        type="radio"
        name="int"
        value="{{ abilityStrength }}"
        [(ngModel)]="monster.intLevel">
    </span>
</fieldset>
<fieldset>
    <legend>Wis</legend>
    <span *ngFor="let abilityStrength of monster.STRENGTH_LEVELS_ORDERED">
        <label for="wis-{{ abilityStrength }}">{{ abilityStrength | titlecase }}</label>
        <input id="wis-{{ abilityStrength }}"
        type="radio"
        name="wis"
        value="{{ abilityStrength }}"
        [(ngModel)]="monster.wisLevel">
    </span>
</fieldset>
<fieldset>
    <legend>Cha</legend>
    <span *ngFor="let abilityStrength of monster.STRENGTH_LEVELS_ORDERED">
        <label for="cha-{{ abilityStrength }}">{{ abilityStrength | titlecase }}</label>
        <input id="cha-{{ abilityStrength }}"
        type="radio"
        name="cha"
        value="{{ abilityStrength }}"
        [(ngModel)]="monster.chaLevel">
    </span>
</fieldset>


<h2>Actions</h2>
<div *ngFor="let action of monster.actions">
    <label>Name</label>
    <input type="text" [(ngModel)]="action.text">
    <label>Uses an attack roll</label>
    <input type="checkbox" id="isAttack" name="isAttack" value="isAttack" [(ngModel)]="action.attack">
    <label>Uses a saving throw</label>
    <input type="checkbox" id="isSave" name="isSave" value="isSave" [(ngModel)]="action.save">
    <div *ngIf="!action.attack && !action.save">
        <label for="action-text">Action Text</label>
        <input type="text" id="action-text" [(ngModel)]="action.attackText">
    </div>
    <div *ngIf="action.attack || action.save">
        <label for="limitedUse">Limited Use</label>
        <input type="checkbox" id="limitedUse" name="limitedUse" value="limitedUse" [(ngModel)]="action.limitedUse">
        <label for="multiTarget">Multi-target</label>
        <input type="checkbox" id="multiTarget" name="multiTarget" value="multiTarget" [(ngModel)]="action.multiTarget">
    </div>
    <div *ngIf="action.attack">
        <label>Attack Text (optional)</label>
        <input type="text" [(ngModel)]="action.attackText">
        <label for="attackRollDamage">Attack Roll Damage (relative)</label>
        <select id="attackRollDamage" [(ngModel)]="action.attackDamage">
            <option *ngFor="let i of damageModifier" [value]="i">
                {{ i }}%
            </option>
        </select>
    </div>
    <div *ngIf="action.save">
        <label>Save Text (optional)</label>
        <input type="text" [(ngModel)]="action.attackText">
        <label for="attackRollDamage">Save Damage (relative)</label>
        <select id="attackRollDamage" [(ngModel)]="action.saveDamage">
            <option *ngFor="let i of damageModifier" [value]="i">
                {{ i }}%
            </option>
        </select>
    </div>
    <button (click)="removeAction(action)">Remove Action</button>

</div>
<button (click)="addAction()">Add Action</button>